html {
    background-color: rgb(24, 26, 27);
} */
main {
    display: flex;
    justify-content: center;
}
body {
    color: #fff;
}
h2{
    text-align: center;
}
.masterMoviesContainer{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.divCont{
    width: 35%;
    height: 20%;
}
.movieContainer{
    height: 20%;
    
}

/* .movieText {
    text-align: ;
} */
.movieLink{
    border: 1px gray solid;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

.movieTitle{
    /* align-items: center; */
    text-align: center;
}
.movieImg {
    width: 25%;
    height: 90%;
    margin: 10px;
}

.movieButtons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

footer {
    bottom: 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
}