/* * {
    background-color: rgb(24, 26, 27);
} */
.movieSuperContainer{
    width: 30%;
}
.movieContainer{
    height: 200px;
    
}
.movieContainer > a{
    border: 1px gray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .movieText {
    text-align: ;
} */
.movieTitle{
    /* align-items: center; */
    text-align: center;
}
.movieImg {
    width: 20%;
}

footer {
    bottom: 0;
    text-align: center;
}
